@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&display=swap');

html {
    font-size: 14px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

a {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Comfortaa', cursive;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}